body {
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0;
    font: 16px/1.5 impact, sans-serif;
    overflow-x: hidden; /* Add this line to prevent horizontal scrolling */
    scroll-behavior: smooth;
  
  }

  .navbar {
    color: white;
  }
  
  .navbar a {
    color: white;
  }
  
  .nav-link img {
    width: 45px;
    height: 45px;
  }
  
  .nav-link:hover {
    background-color: gray;
    border-radius: 10px;
  }
  
  .box {
    background-color: red;
  }

 
  
/*backgrounds*/

  .row-bg-1 {
    background-image: url("assets/smokey.png");

      /* Set a specific height */
    min-height: 500px; 

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .row-bg-2 {
    background: linear-gradient(45deg, #c02828 0%, #000000 100%);
  }

  .row-bg-3 {
  
        /* The image used */
        background-image: url("assets/ameridumbells.png");
  
        /* Set a specific height */
        min-height: 500px; 
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
  }

  .row-bg-4 {
    
    background-image: url("assets/zumba.png");
    background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;

  }

  .row-bg-5 {
     /* The image used */
     background: linear-gradient(45deg, #131a82 0%, #000000 100%);
  }



  .row-bg-7 {
    background-image: url("assets/Turf.png");
    background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
  }

  .row-bg-8 {
    background-color: #f2f2f2;
  }



p {
  line-height: 1.6;
  font-size: 1.1rem;
}


@media screen and (max-width: 768px) { /* Adjust breakpoint as needed */
  p {
    font-size: 0.8rem; /* Adjust as needed */
  }
}

.responsive-text {
  font-size: 0.9rem; /* Or whatever your default font size is */
}

@media screen and (max-width: 768px) { /* Adjust breakpoint as needed */
  .responsive-text {
    font-size: 0.7rem; /* Adjust as needed */
  }
}

.social-media {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.social-media li {
  margin-right: 10px;
}

.carousel-item {
  height: 600px; /* Adjust this value to your preference */
}

.carousel-item img {
  height: 100%;
  object-fit: cover;
}

.services-list {
  font-size: 1.9rem; /* Adjust as needed */
}
.services-card {
  background: rgba(0, 0, 0, 0.5); /* Adjust transparency as needed */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Adjust shadow as needed */
  padding: 0px; /* Adjust padding as needed */
}

.instagram-link {
  font-size: 1.5rem; /* Adjust as needed */
}

.instagram-icon {
  width: 24px; /* Adjust as needed */
  height: 24px; /* Adjust as needed */
  margin-right: 10px; /* Adjust as needed */
}